html{
  scroll-behavior: smooth;
}
body{
  margin-top: 60px;
  background-image: url("https://pre00.deviantart.net/6fcd/th/pre/f/2012/354/8/5/dark_bridge_background_by_3m0_swag-d5onkfa.jpg");
  background-size: cover;
}
#welcome-section{
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content:center;
}
#about{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  
}
#about p{
  max-width:500px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#about-row{
  text-align:center;
  max-width:650px;
}
#about-row li{
  text-align:left;
}

#about-pcontainer{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
#projects{
  min-height:80vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
h1{
  font-family: georgia;
  color: white !important;
  text-align: center;
}
h2{
  font-family: georgia;
  color: white;
}
p{
  color: white;
  font-family: comic sans ms;
}

.repo-link {
  color:white;
  background-color:black
}

.repo-link:hover{
  box-shadow: 0 0 2px 1px rgba(250, 250, 250, 0.9);
}

.ullogos {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.lilogos {
  margin-right: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
nav a:hover{
  background-color: rgba(10, 100, 140, 0.6) !important;
}
.jumbotron{
  background-color: rgba(10, 100, 140, 0.9);
}
.about li{
  font-family: comic sans ms;
  color: white;
}
.projects, .Skills, .contact, .about{
  background-color: clear;
  padding-top: 55px;
  margin-left: 5px;
  margin-right: 5px;
}
.footer {
  right: 0;
  margin-bottom:0px;
  left: 0;
  background-color: #efefef;
  text-align: center;
}
.projects img {
  border: 1px solid #ddd;
  border-radius: 4px; 
}
.projects img:hover {
  box-shadow: 0 0 200px 1px rgba(0, 140, 186, 1);
}
.contact li:hover {
  box-shadow: 0 0 2px 1px rgba(250, 250, 250, 0.9);
}
.thumbnail img {
  transition: all 0.2s;
}
.thumbnail:hover img {
  transform: scale(1.03);
}
.img-responsive{
  width:90%;
}
.thumbnail  {
  background-color:  clear;
  padding-top:20px;
}
@media only screen and (max-width: 600px) {
  
  .navbar-brand{
    font-weight:bold;
  }
  
}